<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@14.1.0/dist/markdown-it.min.js"></script>
    <title>Real Estate Bot</title>
  </head>

  <body>
    <header>
      <div class="logo">
     <img src="https://seeklogo.com/images/D/dollar-logo-0683682259-seeklogo.com.png?v=638247634840000000" alt=" Logo" height="40" />
       <!--  <img src="static/img/separator.svg" alt="separator" /> -->
        <span class="text-base not-italic font-normal leading-7">Real Estate Bot</span>
      </div>
      <div
        class="reset_btn" onclick="resetConversation()"
      >
      <img src="../static/img/trash_icon.svg" alt="Trash can Logo" />
      <span class="text-sm"></span>
    </div>
    </header>
    <main class="chat_container" id="chat_container">
      <div class="new_session">
        <div class="line"></div>
        QUESTIONS PLEASE
        <div class="line"></div>
      </div>
      <div id="wave">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </main>
    <div class="input_area_holder">
      <div class="holder">
        <div class="input_area full-width" id="input_area">
          <div
            class="expandable-textarea"
            id="query"
            role="textbox"
            contenteditable="true"
            aria-label="Write a message"
            placeholder="Ask me anything"
          ></div>
          <button
            class="send_button"
            id="send_button"
            onclick="sendQuery()"
            aria-label="Send Message"
          >
            <img src="/static/img/send_icon.svg" alt="send" />
          </button>
        </div>
      </div>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
